.wrapper {
	display: flex;
	align-items: center;
	gap: 5px;

	.icon-play,
	.icon-pause {
		color: #cc9a9a;
		cursor: pointer;
		margin: auto 0;
		transition: color 0.2sease-out;
	}

	.icon-pause {
		font-size: 18px;
	}

	.icon-play {
		font-size: 15px;
	}

	.values {
		font-size: 15px;
	}

	.icon-pause:after {
		content: '⏸';
	}

	.icon-play:after {
		content: '▶';
	}
}
